<header class="header">
    <div class="container nav">

        <a href="../index.html" class="logo">
            <img src="../img/logo.png" alt="Bomberos La Pampa">
        </a>

        <div class="menu-toggle" id="menu-toggle">☰</div>

        <nav class="nav-menu" id="nav-menu">
            <ul class="menu">
                <li><a href="/Nueva-carpeta/index.html">Inicio</a></li>
                <li><a href="../nosotros.html">Nosotros</a></li>
                <li><a href="/Nueva-carpeta/pages/cuarteles.html">Cuarteles</a></li>
                <li><a href="/noticias.html">Noticias</a></li>
                <li><a href="/Nueva-carpeta/pages/capacitacion.html">Capacitación</a></li>
                <li><a href="/galeria.html">Galería</a></li>
                <li><a href="/contacto.html">Contacto</a></li>
            </ul>
        </nav>

        <a href="#" class="btn-emergencia">🚨 Emergencias</a>

    </div>
</header>
