<header class="navbar">
    <div class="container nav">

        <a href="/Nueva-carpeta/index.html" class="logo">
            <img src="/Nueva-carpeta/img/logo.png" alt="Bomberos La Pampa">
        </a>

        <div class="menu-toggle" id="menu-toggle">☰</div>

        <nav class="nav-menu" id="nav-menu">
            <ul class="menu">
                <li><a href="/Nueva-carpeta/index.html">Inicio</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="/Nueva-carpeta/pages/cuarteles.html">Cuarteles</a></li>
                <li><a href="">Noticias</a></li>
                <li><a href="/Nueva-carpeta/pages/capacitacion.html">Capacitación</a></li>
                <li><a href="">Galería</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>

        <a href="#" class="btn-emergencia">🚨 Emergencias</a>

    </div>
</header>
